.container {
  background-color: rgba(255, 255, 255, 0.7);
  color: $dark_gray;
  margin: 2em auto;
  padding: 1em;

  @media only screen and (min-width: $medium-max) {
    max-width: $large;
  }
}

.banner_container {
  display: flex;
  justify-content: space-around;

  @media only screen and (min-width: $medium-max) {
    img {
      width: 800px;
      height: auto;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-evenly;
  margin: 2em 0 0 0;

  .icon {
    width: 50px;
    height: auto;
  }

  .icon:hover {
    cursor: pointer;
    opacity: 50%;
  }
}

.slack_link_container {
  display: flex;
  justify-content: center;
  margin: 0 0 2em 0;

  a {
    margin-left: 5px;
  }
}

.navLink, .navLink:visited {
  color: $ksu_purple;
  font-weight: 700;
  text-decoration: underline;
}

.navLink:hover {
  color: $gold;
}