// Purples
$russian_violet: #280353;
$indigo: #3B0160;
$ksu_purple: #552582;
$royal_purple: #724C9F;
$thistle: #CABADE;
$midnight_blue1: #1D1160;
$midnight_blue2: #241773;
$gold: #9E7C0C;
$dark_goldenrod: #AD8900;
$red_ncs: #C60C30;

// Monochrome
$black: #000;
$dark_gray: #5d5d5d;
$white: #FFF;
